
/* AC_S_TOPTASKS - 1
--------------------------------------------------------------------------------------------*/

// items
$ac-toptasks-items-max-width: $max-content-1000;
$ac-toptasks-items-padding: 0;
$ac-toptasks-items-inner-wrapper-enabled: true;
$ac-toptasks-items-inner-wrapper-padding: $default-padding / 4;
$ac-toptasks-items-inner-wrapper-background-color: $brand-lightest-gray;
$ac-toptasks-items-have-border-dividers: true;


// item
$ac-toptasks-item-padding: $default-padding / 2 0;
$ac-toptasks-item-container-padding: $default-padding;
$ac-toptasks-item-has-shadow: false;
$ac-toptasks-item-background-color: $brand-lightest-gray;
$ac-toptasks-item-background-hover-color: $brand-lightest-gray;
$ac-toptasks-item-border-radius: $default-border-radius; 

// image
$ac-toptasks-item-has-image-container: false; 
$ac-toptasks-item-has-image-container-height: 120px;
$ac-toptasks-item-has-image-container-background-color: $default-background-dark;
$ac-toptasks-item-has-image: true;
$ac-toptasks-item-has-image-initial-fade: .1;
$ac-toptasks-item-has-image-hover-fade: .5;

// icon
$ac-toptasks-item-icon-enbled: true;
$ac-toptasks-item-icon-width: 80px; // px of em
$ac-toptasks-item-icon-padding: 24px; // px or em - is deducted from icon width. Say width is 80px and padding is 15px, the actual icon is 50px;
$ac-toptasks-item-icon-margin-bottom: 0; 
$ac-toptasks-item-icon-bg: inherit; 
$ac-toptasks-item-icon-hover-bg: inherit; 
$ac-toptasks-item-icon-fill: $default-background-dark;
$ac-toptasks-item-icon-hover-fill: $default-background-dark;

// title
$ac-toptasks-item-title-color: $default-text-color;
$ac-toptasks-item-title-color-hover: rgba($default-text-color, .9);

// description
$ac-toptasks-item-description-enabled: false;
$ac-toptasks-item-description-color: $default-text-color;
$ac-toptasks-item-description-color-hover: rgba($default-text-color, .9);
$ac-toptasks-item-description-margin-bottom: 1em;

// btn-container
$ac-toptasks-item-btn-container-enabled: false;
$ac-toptasks-item-btn-container-color: $default-text-color;
$ac-toptasks-item-btn-container-color-hover: rgba($default-text-color, .9);

@import '__toptasks_globals';

/*--------------------------------------------------------------------------------------------*/


.ac_toptasks_item_container {
    display: block;
    align-items: center;
}
.ac_toptasks_item_icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ac_toptasks_item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

