
//
//      BORDER RESPONSIVENESS
//

$small-items: 1;
@if $items-on-small-two-items-a-row == true {
    $small-items: 2;
}

@if $items-slider == false { // no need for responsive borders if we have a slider
    @if $items-have-border-dividers == true {

        @if $items-amount == 0 {
            @include border-responsiveness('S#{$small-items}', $items-first-item-full-width);
            @include border-responsiveness('S#{$small-items}-MP2', $items-first-item-full-width);
            @include border-responsiveness('S#{$small-items}-MP2-M3', $items-first-item-full-width);
            @include border-responsiveness('S#{$small-items}-MP2-L4', $items-first-item-full-width);
        } @elseif $items-amount == 1 {
            @include border-responsiveness('S#{$small-items}', $items-first-item-full-width);
        } @elseif $items-amount == 2 {
            @include border-responsiveness('S#{$small-items}-MP2', $items-first-item-full-width);
        } @elseif $items-amount == 3 {
            @include border-responsiveness('S#{$small-items}-MP2-M3', $items-first-item-full-width);
        } @elseif $items-amount == 4 {
            @include border-responsiveness('S#{$small-items}-MP2-L4', $items-first-item-full-width);
        }

    }
    @if $items-have-border-below == true and $items-hide-border-below-on-last-row == true {
        @if $items-amount == 0 {
            @include bottom-items-no-border('S#{$small-items}');
            @include bottom-items-no-border('S#{$small-items}-MP2');
            @include bottom-items-no-border('S#{$small-items}-MP2-L3');   
            @include bottom-items-no-border('S#{$small-items}-MP2-L4');
        } @elseif $items-amount == 1 {
            @include bottom-items-no-border('S#{$small-items}');
        } @elseif $items-amount == 2 {
            @include bottom-items-no-border('S#{$small-items}-MP2');
        } @elseif $items-amount == 3 {
            @include bottom-items-no-border('S#{$small-items}-MP2-L3');   
        } @elseif $items-amount == 4 {
            @include bottom-items-no-border('S#{$small-items}-MP2-L4');
        }
    }
}