/* GENERICS - HR
--------------------------------------------------------------------------------------------*/
hr {
    border-bottom: solid 1px rgba($brand-black, .15);
    margin: 30px 0;
    max-width: 100%;
}