
/* VAC - 1
--------------------------------------------------------------------------------------------*/

$ac-vac-items-slider: false;
$ac-vac-items-slider-fouc-height: 500px; // what needs to be the flash-of-unwanted-content height before slider has laoded.
$ac-vac-items-breakpoint: large;
$ac-vac-items-max-width: $max-content-1200;

$ac-vac-item-visual-width: 1*.7;  // can be any percentage calculation, eg 1*.8 or 1/4. The content will take the space left. Make sure the content has enough space. 
$ac-vac-item-visual-min-height: 500px; // on small the visual height will be set as 50% of the min-height
$ac-vac-item-content-inner-max-width: 500px;
$ac-vac-item-content-inner-min-width: 500px; // set to 100% if the space of the content left is smaller than the set pixels you would prefer. 
$ac-vac-item-margin-bottom: 1.4em;
$ac-vac-item-has-border-bottom: false;
$ac-vac-item-border: $default-border;


@import '__vac_globals';


/*--------------------------------------------------------------------------------------------*/
