
/* SERVICES - 4
--------------------------------------------------------------------------------------------*/

[data-s-type="services"] {

    // items
    $items-slider: false;
    $items-slider-fouc-height: 200px; // what needs to be the flash-of-unwanted-content height before slider has laoded.

    $items-amount: 0; // 0 counts for undefined, if assigned the code will be more optimised
    $items-content-over-image: false;
    $items-max-width: $max-content-1200;
    $items-have-padding: true;
    $items-have-border-dividers: false;
    $items-have-border-below: false;
    $items-hide-border-below-on-last-row: true;
    $items-border-radius: $default-border-radius; 
    $items-first-item-full-width: false;
    $items-first-item-full-width-height-multiplier: 1.5;
    $items-on-small-two-items-a-row: false;
    $item-background: $default-background-light;
    $item-background-hover: none;
    
    // columns
    $items-columns-enabled: false;
    $items-columns-breakpoint: 800px; 
    $items-columns-height: 400px; 
    $items-columns-hide-last-one-below-breakpoint: false;
    $items-columns-icon-image-combination: true;

    // item
    $item-margin-bottom: 1.4em; // 1.4em
    $item-border: $default-border; // defines the appearance, not the display
    $item-shadow-enabled: false;


    // image
    $item-image-container-enabled: false;
    $item-image-enabled: true;
    $item-image-height: 160px;
    $item-image-initial-fade: 1;
    $item-image-hover-fade: .8;
    $item-image-gradient-before: true; // when item-content-over-image
    $item-image-gradient-color: $default-background-dark;
    $item-image-gradient-before-position: 'bottom'; // top or bottom
    $item-image-background-color: $default-background-dark;
    $item-image-background-color-hover: $default-background-dark;
    $item-image-border-radius: $default-border-radius; 


    // content
    $item-content-padding: $default-padding $default-padding $default-padding * 2 $default-padding; 
    $item-content-background: none;
    $item-content-background-hover: none;
    $item-content-align: 'lb'; // lt, lc, lb, ct, cc, cb, rt, rc, rb ||  when item-content-over-image
    $item-content-copy-padding: 0 ; 
    $item-content-copy-align: 'left'; // left or center

    $item-content-icon-enabled: true;
    $item-content-icon-centered: false;
    $item-content-icon-color: rgba($default-icon-color-light, 1);
    $item-content-icon-hover-color: rgba($default-background-light, 1);
    $item-content-icon-size: 60px;
    $item-content-icon-padding: 10px;
    $item-content-icon-margin: 0 0 20px 0;
    $item-content-icon-background: $default-background-dark;
    $item-content-icon-background-hover: rgba($brand-primary-darker, 1);
    $item-content-icon-round: true;
    
    $item-content-title-enabled: true; 
    $item-content-title-color: $default-text-color;
    $item-content-title-hover-color: rgba($default-text-color, .6);

    $item-content-copy-above-enabled: false;    
    $item-content-copy-above-color: rgba($default-text-color, .6);
    $item-content-copy-above-hover-color: rgba($default-text-color, .4);

    $item-content-copy-below-enabled: true;    
    $item-content-copy-below-color: rgba($default-text-color, .6);
    $item-content-copy-below-hover-color: rgba($default-text-color, .4);

    // icon
    $item-show-icon: true;
    $item-icon-color: rgba($default-icon-color, .3);
    $item-icon-hover-color: rgba($default-icon-color, 1);
    $item-icon-size: 1.6em;
    $item-icon-position: 'rb'; // lt, lb, rt, rb
    $item-icon-inset-left-right: $default-padding; 
    $item-icon-inset-top-bottom: $default-padding; 
    

    // list style on small | image left and content right | all background will be reset | content icon is set absolute
    $item-list-style-on-small: false; 
    $item-list-style-image-width: 40px;
    $item-list-style-content-icon-size: 50px; 
    $item-list-style-content-icon-padding: 10px; 
    $item-list-style-content-icon-background: $default-background-dark;
    $item-list-style-content-icon-color: $default-icon-color-light;
    $item-list-style-content-title-color: rgba($default-text-color, 1);
    $item-list-style-content-copy-above-color: rgba($default-text-color, 1);
    $item-list-style-content-copy-below-color: rgba($default-text-color, 1);


    @import '../ac_s__items-globals/__item_globals';
    

    /*--------------------------------------------------------------------------------------------*/

     .ac_item_content_title {
        @include font-headings-bold;
        font-size: 150%;
        line-height: 1;
        margin-bottom: $default-padding  / 2;
    }
    .ac_item_content {
        padding: $default-padding $default-padding $default-padding * 2 ($default-padding * 2 + $item-content-icon-size);  
    }
    .ac_item_content_icon_container {
        position: absolute;
        top: $default-padding;
        left: $default-padding;
    }

} // end scope