
/* AC_S_TEAM - 1
--------------------------------------------------------------------------------------------*/

//items
$ac-team-items-max-width: $max-content-1200;
$ac-team-items-have-padding: true;
$ac-team-items-have-border-dividers: false;
$ac-team-items-have-border-below: false;
$ac-team-items-hide-border-on-last-row: true;

//item
$ac-team-item-margin-bottom: 1.4em; // 1.4em
$ac-team-item-border: $default-border; // defines the appearance, not the display
$ac-team-item-text-align: left; // left or center
$ac-team-item-padding: 0;
$ac-team-item-background: transparent; 
$ac-team-item-border-radius: 0;
$ac-team-item-shadow: false;

//content
$ac-team-item-content-padding: $default-padding; 
$ac-team-item-content-background: transparent; 

//profile image
$ac-team-item-profile-image-enabled: true;
$ac-team-item-profile-image-rounded: true;
$ac-team-item-profile-image-border: solid 6px $brand-white;
$ac-team-item-profile-image-size: 180px; 
$ac-team-item-profile-image-shadow: false;

//content copy
$ac-team-item-show-job-description: true;
$ac-team-item-show-telephone: true;
$ac-team-item-show-email: true;

//socials
$ac-team-item-show-socials: true;
$ac-team-item-social-background: $default-background-dark;
$ac-team-item-social-background-hover: $default-background-dark;
$ac-team-item-social-rounded: true;
$ac-team-item-social-icon-fill: $default-icon-color-light;
$ac-team-item-social-icon-hover-fill: rgba($default-icon-color-light, .5);
$ac-team-item-social-size: 40px; // use the same measurment unit for size and padding!
$ac-team-item-social-padding: 5px;

$ac-team-item-logo-margin-bottom: .6em; // 1.4em

@import '__team_globals';

/*--------------------------------------------------------------------------------------------*/


.ac_team_item {
}
.ac_team_item_container {
    background: transparent;
    padding: $ac-team-item-content-padding;
    @include breakpoint(small only) {
        padding-right: 0;
    }
}
.ac_team_item_content {
    position: relative;
    z-index: 2;
    padding-right: 0;
    background: transparent;
    word-break: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $ac-team-item-profile-image-size * .8;
    @include breakpoint(small only) {
        padding-left: 30vw * .8;
    }
}

.ac_team_item_profile-image_container {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint(medium-portrait only) {
        transform: translateY(-50%) scale(.85);
    }
    @include breakpoint(medium only) {
        transform: translateY(-50%) scale(.85);
    }

    // add a gradient. Only works if gradient is the same color as the bg
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100%; 
        background: linear-gradient(90deg, rgba($brand-light-gray, 0), rgba($brand-light-gray, 1));
        z-index: 1;
    }
}
.ac_team_item_profile-image {
    @include breakpoint(small only) {
        width: 30vw;
        height: 30vw;
    }
    width: $ac-team-item-profile-image-size;
    height: $ac-team-item-profile-image-size;
}

@include breakpoint(medium-portrait only) {
    &[data-s-amount="2"] {
        .ac_team_item {
            width: 100%;
            max-width: 100%;

        }
        
    }
}
@include breakpoint(medium only) {
    &[data-s-amount="2"] {
        .ac_team_item {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
            .ac_team_item_container {
            width: 600px;
        }
    }
}