/* SECTION - DIVIDER - SPIKED - SMALL
--------------------------------------------------------------------------------------------*/

&[data-s-divider-type="spiked-small"] {
    .ac_section_divider_top {
        top: -16px;
        position: absolute;
        z-index: 11;
        width: 100%;
    }
    .ac_section_divider_bottom {
        position: absolute;
        z-index: 11;
        width: 100%;
        bottom: -20px;
        svg {
            transform: rotate(180deg);
        }
    }
    svg {
        height: 16px;
        width: 100%;
    }
}
